#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_install:
	dh_auto_install
	install -m 755 cdr-md5.sh          debian/ngcp-cdr-exporter/usr/sbin/cdr-md5
	install -m 755 cdr-exporter.pl     debian/ngcp-cdr-exporter/usr/sbin/cdr-exporter
	install -m 644 cdr-exporter.cron   debian/ngcp-cdr-exporter/etc/cron.d/ngcp-cdr-exporter
	install -m 644 cdr-exporter.conf   debian/ngcp-cdr-exporter/etc/ngcp-cdr-exporter/cdr-exporter.conf
	install -m 755 event-exporter.pl   debian/ngcp-cdr-exporter/usr/sbin/event-exporter
	install -m 644 event-exporter.cron debian/ngcp-cdr-exporter/etc/cron.d/ngcp-event-exporter
	install -m 644 event-exporter.conf debian/ngcp-cdr-exporter/etc/ngcp-cdr-exporter/event-exporter.conf
